:root{
    --primary-pink: #df59bc;
    --primary-blue: #51e3b2;
    --middle-color: #9a9cb7;
}

body{
    scroll-behavior: smooth;
    font-family: 'Bebas' !important;
    margin: 0;
    background: url(../img/bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

h1, h2, h3, h4, h5, h6{
    color: #fff !important;
    font-family: 4 !important;
}

section{
    padding-top: 5.5rem !important;
    padding-bottom: 4.5rem !important;
    height: 100vh;
}

.navbar-toggler-icon{
    color:#fff !important;
}
/* -----= L O A D E R =----- */

/* -----= H E A D E R =-----*/

header{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.navbar{
    background-color: #1f1f1f;
    border-bottom: 3px solid;
    border-image: linear-gradient(to right, #df59bc, #51e3b2) 100;
}

.nav h1{
    font-family: 'Bebas';
}

.navbar-brand{
    color: #FFF !important;
    font-size: 32px !important;
}
.nav-link{
    color: #FFF !important;
    font-size: 24px;
}

.nav-link:hover{
    text-shadow: 0.05em 0 0 var(--primary-blue),
        -0.05em 0 0 var(--primary-pink);
    animation: glitch-text 500ms infinite
}

ul li a{
    letter-spacing: 5px; 
    border-bottom: solid 3px rgba(255, 255, 255, 0);
}

ul li a:hover{
    border-bottom: solid 3px #fff;
}

/* -----= M A I N =-----*/

.home img{
    width: 10%;
    height: auto;
    margin-top: 2%;
}

.content-home{
    padding-left: 5%;
    padding-top: 5%;
    margin-bottom: 10%;
    margin-top: 12%;
}

.content-home h1{
    font-size: 90px !important;
    letter-spacing: 5px;
    animation: text-slide  2s ease-in-out;

}

.main-title{
    text-shadow: 0.05em 0 0 var(--primary-blue),
        -0.05em 0 0 var(--primary-pink);
}

/* -----= C O M P E T E N C E S =----- */

.content-section{
    background-color: rgba(31, 31, 31, 0.75);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-section ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.content-section ul li{
    font-size: 64px;
    color: #fff;
}

li span i{
    font-size: 48px;
}

.bxs-circle{
    text-shadow: 0.05em 0 0 var(--primary-blue),
        -0.05em 0 0 var(--primary-pink);
    animation: glitch 150ms infinite;
}



/* -----= P R O J E C T =----- */

.cover{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s all;
}

.cover:hover{
    background-color: var(--primary-blue);
    opacity: 1;
}

/* -----= C O N T A C T =----- */

.section-form{
    height: 100%;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: ;
    height: 100%;
}

/* -----= J S =----- */


/* -----= K E Y F R A M E S =----- */

@keyframes glitch {
    0% {
        text-shadow: 0.05em 0 0 var(--primary-pink),
            -0.05em -0.025em 0 var(--primary-blue),
            -0.025em 0.05em 0 var(--middle-color);
    }
    14% {
        text-shadow: 0.05em 0 0 var(--primary-pink),
            -0.05em -0.025em 0 var(--primary-blue),
            -0.025em 0.05em 0 var(--middle-color);
    }
    15% {
        text-shadow: -0.05em -0.025em 0 var(--primary-pink),
            0.025em 0.025em 0 var(--primary-blue),
            -0.05em 0.05em 0 var(--middle-color);
    }
    49% {
        text-shadow: -0.05em -0.025em 0 var(--primary-pink),
            0.025em 0.025em 0 var(--primary-blue),
            -0.05em 0.05em 0 var(--middle-color);
    }
    50% {
        text-shadow: 0.025em 0.05em 0 var(--primary-pink),
            0 0.05em 0 var(--primary-blue),
            0 -0.05em 0 var(--middle-color);
    }
    99% {
        text-shadow: 0.025em 0.05em 0 var(--primary-pink),
            0 0.05em 0 var(--primary-blue),
            0 -0.05em 0 var(--middle-color);
    }
    100% {
        text-shadow: -0.025em 0 0 var(--primary-pink),
            -0.025em -0.025em 0 var(--primary-blue),
            -0.025em -0.05em 0 var(--middle-color);
    }
}

@keyframes text-slide{
    0%{
        margin-left: -50%;
        opacity: 0;
    }
    
    100%{

        opacity: 1;
    }
}

@keyframes glitch-text {
    0% { 
        text-shadow: 0.1em 0 0 var(--primary-blue),
        -0.1em 0 0 var(--primary-pink);
    }

    15%{
        text-shadow: -0.1em 0 0 var(--primary-blue),
        0.1em 0 0 var(--primary-pink);
    }

    50%{
        text-shadow: 0.1em 0 0 var(--primary-blue),
        -0.1em 0 0 var(--primary-pink);
    }

    70%{
        text-shadow: -0.1em 0 0 var(--primary-blue),
        0.1em 0 0 var(--primary-pink);
    }

    75%{
        text-shadow: 0.1em 0 0 var(--primary-blue),
        -0.1em 0 0 var(--primary-pink);
    }

    99%{
        text-shadow: 0.1em 0 0 var(--primary-blue),
        -0.1em 0 0 var(--primary-pink);
    }

    100%{
        text-shadow: -0.1em 0 0 var(--primary-blue),
        0.1em 0 0 var(--primary-pink);
    }
}

@media (prefers-reduced-motion : reduce) {
    *,
    ::before,
    ::after {
        animation-delay: -1ms !important;
        animation-duration: 1ms !important;
        animation-iteration-count: 1 !important;
        background-attachment: initial !important;
        scroll-behavior: auto !important;
        transition-duration: 0s !important;
        transition-delay: 0s !important;
    }
}